<div class="container">
	<div class="event-form">
		<h1>New Event</h1>
		<%= form_for(@event, url: {action: "create"}) do |f| %>
			<div class="form-group">
				<%= f.label :name, class: 'form-control-label' %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<%= f.label :category_id, class: 'form-control-label' %>
						<%= f.select(:category_id, {:class => 'form-control'}) do %>
							<% @categorys.each do |category| %>
								<%= content_tag(:option, "#{category.name}", value: category.id) %>
							<% end %>
						<% end %>	
					</div>
					<div class="form-group">
						<%= f.label :venue_id, class: 'form-control-label' %>
						<%= f.select(:venue_id, {:class => 'form-control'}) do %>
							<% @venues.each do |venue| %>
								<%= content_tag(:option, "#{venue.name}", value: venue.id) %>
							<% end %>
						<% end %>	
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<%= f.label :starts_at, class: 'form-control-label' %>
						<%= f.datetime_select :starts_at, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :ends_at, class: 'form-control-label' %>
						<%= f.datetime_select :ends_at, class: 'form-control' %>
					</div>
				</div>
			</div>
			<div class="form-group" data-no-turbolink>
				<%= f.label :extended_html_description, class: 'form-control-label' %>
				<%= f.cktext_area :extended_html_description, id: "extended_html_description", class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :hero_image_url, class: 'form-control-label' %>
				<%= f.text_field :hero_image_url, class: 'form-control'%>
			</div>
			<%= f.submit "Create Event", class: 'btn btn-primary' %>
		<% end %>
	</div>	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".ckeditor").ckeditor();
	})
</script>